CI_ENVIRONMENT=production
app.baseURL=http://localhost/
app.indexPage=
app.defaultLocale=id
app.appTimezone=Asia/Jakarta
encryption.key=CHANGEME
database.default.hostname=localhost
database.default.database=web_eduzone
database.default.username=root
database.default.password=
database.default.DBDriver=MySQLi
database.default.port=3306
database.default.charSet=utf8mb4
database.default.DBCollation=utf8mb4_unicode_ci
session.driver=CodeIgniter\Session\Handlers\FileHandler
session.savePath=writable/session
cookie.prefix=
cookie.domain=
cookie.path=/
cookie.secure=false
cookie.sameSite=Lax
