CI_ENVIRONMENT=testing
app.baseURL=https://staging.example.com/
app.indexPage=
app.defaultLocale=id
app.appTimezone=Asia/Jakarta
encryption.key=CHANGE_THIS_STAGING_KEY
database.default.hostname=localhost
database.default.database=web_eduzone_staging
database.default.username=staging_user
database.default.password=staging_pass
database.default.DBDriver=MySQLi
database.default.port=3306
database.default.charSet=utf8mb4
database.default.DBCollation=utf8mb4_unicode_ci
session.driver=CodeIgniter\Session\Handlers\FileHandler
session.savePath=writable/session
cookie.prefix=
cookie.domain=staging.example.com
cookie.path=/
cookie.secure=true
cookie.sameSite=Lax
