CI_ENVIRONMENT=production
app.baseURL=https://example.com/
app.indexPage=
app.defaultLocale=id
app.appTimezone=Asia/Jakarta
encryption.key=CHANGE_THIS_PRODUCTION_KEY
database.default.hostname=localhost
database.default.database=web_eduzone_prod
database.default.username=prod_user
database.default.password=prod_pass
database.default.DBDriver=MySQLi
database.default.port=3306
database.default.charSet=utf8mb4
database.default.DBCollation=utf8mb4_unicode_ci
session.driver=CodeIgniter\Session\Handlers\FileHandler
session.savePath=writable/session
cookie.prefix=
cookie.domain=example.com
cookie.path=/
cookie.secure=true
cookie.sameSite=Lax
